# Keys
**/localhost-self-signed.pem
**/airbyte-haproxy-self-signed.key
**/airbyte-haproxy-self-signed.crt
**/airflow-haproxy-self-signed.key
**/airflow-haproxy-self-signed.crt


# Keys and Secrets
**/terraform_service_account_key.json

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
myplan
**/destroy_terraform.sh

# Extras
poetry.lock
node_modules
logs/
