google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-automl
google-cloud-bigquery
google-cloud-datastore
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
googleapis-common-protos
gspread
oauth2client
pymysql
